@import "./Colors.css";
@import "../../node_modules/antd/dist/antd.css";

.Title{
    padding-top: 15px;
    padding-left: 20px;
    background-color: white;
}

.ContentLayout{
    padding-top: 40px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}

.RowListView{
    background-color: var(--whitesecond);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
}

.Cardview{
    align-items: center;
    color: var(--bgNav);
    margin-top: 20px;
    min-width: 300px;
    min-height: 100px;
    border-radius: 20px;
    background: white;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}
.Cardview:hover{
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
    inset -4px -4px 12px #ffffff;
}

.ColCardIcon{
    text-align: center;
}

.ColCardTitle{
    padding: 20px;
}

.ComunSearch{
    max-width: 600px;
    /*min-width: 200px;*/
}

.CollapsibleHeaderOff{
    background: rgb(89,32,133);
    background: radial-gradient(circle, rgba(89,32,133,1) 0%, rgba(33,33,33,1) 80%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    height: 250px;
    width: 100%;
    transition: 0.3s; /* Add a transition effect (when scrolling - and font size is decreased) */
}
.CollapsibleHeaderOn{
    background: rgb(89,32,133);
    background:  linear-gradient(90deg,rgba(89,32,133,1) 0%, var(--bgNav) 40%);
    display: flex;
    align-items:flex-start;
    align-items: center;
    padding-left: 10px;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    height: 60px;
    transition: 0.3s;
    z-index: 10;
}

.LogoWats{
    width: 45px;
    height: auto;
    background-image: url(/src/resources/WhatsLogo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.phoneInput .PhoneInputCountryIcon{
    width: 10%;
    height: 30px;
}
.phoneInput select{
    width: 30%;
}
.phoneInput input{
    width: 60%;
}